Repository capawesome-team/capacitor-plugins, pull requests merged in 2024-07, with the labels that each got.

#216 fix(live-update): `reset()` followed by `reload()` did not load the built-in bundle
  .changeset/few-toes-return.md
  packages/live-update/android/src/main/java/io/capawesome/capacitorjs/plugins/liveupdate/LiveUpdate.java
  packages/live-update/ios/Plugin/LiveUpdate.swift
Labels: bug/fix, package: live-update

#218 chore(live-update): print debug url on sync
  .changeset/sour-melons-teach.md
  packages/live-update/android/src/main/java/io/capawesome/capacitorjs/plugins/liveupdate/LiveUpdate.java
  packages/live-update/ios/Plugin/LiveUpdate.swift
Labels: package: live-update

#227 bug(file-picker): on ios - wrong selection order #213
  .changeset/gold-shirts-eat.md
  packages/file-picker/ios/Plugin/FilePicker.swift
Labels: platform: ios, bug/fix, package: file-picker

#229 feat(live-update): add support for checksum verification
  .changeset/odd-comics-carry.md
  packages/live-update/android/src/main/java/io/capawesome/capacitorjs/plugins/liveupdate/LiveUpdate.java
  packages/live-update/android/src/main/java/io/capawesome/capacitorjs/plugins/liveupdate/LiveUpdatePlugin.java
  packages/live-update/android/src/main/java/io/capawesome/capacitorjs/plugins/liveupdate/classes/api/GetLatestBundleResponse.java
  packages/live-update/android/src/main/java/io/capawesome/capacitorjs/plugins/liveupdate/classes/options/DownloadBundleOptions.java
  packages/live-update/ios/Plugin/Classes/CustomError.swift
  packages/live-update/ios/Plugin/Classes/Options/DownloadBundleOptions.swift
  packages/live-update/ios/Plugin/LiveUpdate.swift
  packages/live-update/ios/Plugin/LiveUpdatePlugin.swift
  packages/live-update/ios/Plugin/Protocols/Api/GetLatestBundleResponse.swift
  packages/live-update/src/definitions.ts
Labels: feature, package: live-update

#231 feat(live-update): add support for signature verification
  .changeset/purple-radios-glow.md
  packages/live-update/README.md
  packages/live-update/android/src/main/java/io/capawesome/capacitorjs/plugins/liveupdate/LiveUpdate.java
  packages/live-update/android/src/main/java/io/capawesome/capacitorjs/plugins/liveupdate/LiveUpdateConfig.java
  packages/live-update/android/src/main/java/io/capawesome/capacitorjs/plugins/liveupdate/LiveUpdatePlugin.java
  packages/live-update/android/src/main/java/io/capawesome/capacitorjs/plugins/liveupdate/classes/api/GetLatestBundleResponse.java
  packages/live-update/ios/Plugin/Classes/CustomError.swift
  packages/live-update/ios/Plugin/LiveUpdate.swift
  packages/live-update/ios/Plugin/LiveUpdateConfig.swift
  packages/live-update/ios/Plugin/LiveUpdatePlugin.swift
  packages/live-update/ios/Plugin/Protocols/Api/GetLatestBundleResponse.swift
  packages/live-update/src/definitions.ts
Labels: feature, package: live-update

#232 feat(live-update): add `location` configuration option
  .changeset/small-goats-clean.md
  packages/live-update/README.md
  packages/live-update/android/src/main/java/io/capawesome/capacitorjs/plugins/liveupdate/LiveUpdate.java
  packages/live-update/android/src/main/java/io/capawesome/capacitorjs/plugins/liveupdate/LiveUpdateConfig.java
  packages/live-update/android/src/main/java/io/capawesome/capacitorjs/plugins/liveupdate/LiveUpdatePlugin.java
  packages/live-update/ios/Plugin/LiveUpdate.swift
  packages/live-update/ios/Plugin/LiveUpdateConfig.swift
  packages/live-update/ios/Plugin/LiveUpdatePlugin.swift
  packages/live-update/src/definitions.ts
Labels: feature, package: live-update
