Repository capawesome-team/capacitor-plugins, pull requests merged in 2024-09, with the labels that each got.

#283 fix(live-update): perform a reset when the current bundle is deleted
  .changeset/smooth-wolves-boil.md
  packages/live-update/android/src/main/java/io/capawesome/capacitorjs/plugins/liveupdate/LiveUpdate.java
  packages/live-update/android/src/main/java/io/capawesome/capacitorjs/plugins/liveupdate/LiveUpdatePlugin.java
  packages/live-update/ios/Plugin/LiveUpdate.swift
  packages/live-update/ios/Plugin/LiveUpdatePlugin.swift
Labels: bug/fix, package: live-update

#289 feat: add Torch plugin
  .changeset/spotty-chicken-refuse.md
  package-lock.json
  packages/torch/.eslintignore
  packages/torch/.gitignore
  packages/torch/.npmrc
  packages/torch/.prettierignore
  packages/torch/.prettierrc.js
  packages/torch/BREAKING.md
  packages/torch/CHANGELOG.md
  packages/torch/CONTRIBUTING.md
  packages/torch/CapawesomeCapacitorTorch.podspec
  packages/torch/LICENSE
  packages/torch/README.md
  packages/torch/android/.gitignore
  packages/torch/android/build.gradle
  packages/torch/android/gradle.properties
  packages/torch/android/gradle/wrapper/gradle-wrapper.jar
  packages/torch/android/gradle/wrapper/gradle-wrapper.properties
  packages/torch/android/gradlew
  packages/torch/android/gradlew.bat
  packages/torch/android/proguard-rules.pro
  packages/torch/android/settings.gradle
  packages/torch/android/src/androidTest/java/com/getcapacitor/android/ExampleInstrumentedTest.java
  packages/torch/android/src/main/AndroidManifest.xml
  packages/torch/android/src/main/java/io/capawesome/capacitorjs/plugins/torch/Torch.java
  packages/torch/android/src/main/java/io/capawesome/capacitorjs/plugins/torch/TorchPlugin.java
  packages/torch/android/src/main/res/.gitkeep
  packages/torch/android/src/test/java/com/getcapacitor/ExampleUnitTest.java
  packages/torch/ios/Plugin.xcodeproj/project.pbxproj
  packages/torch/ios/Plugin.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/torch/ios/Plugin.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/torch/ios/Plugin.xcodeproj/xcshareddata/xcschemes/Plugin.xcscheme
  packages/torch/ios/Plugin.xcodeproj/xcshareddata/xcschemes/PluginTests.xcscheme
  packages/torch/ios/Plugin.xcworkspace/contents.xcworkspacedata
  packages/torch/ios/Plugin.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/torch/ios/Plugin/Info.plist
  packages/torch/ios/Plugin/Torch.swift
  packages/torch/ios/Plugin/TorchPlugin.h
  packages/torch/ios/Plugin/TorchPlugin.m
  packages/torch/ios/Plugin/TorchPlugin.swift
  packages/torch/ios/PluginTests/Info.plist
  packages/torch/ios/PluginTests/TorchTests.swift
  packages/torch/ios/Podfile
  packages/torch/package.json
  packages/torch/rollup.config.js
  packages/torch/src/definitions.ts
  packages/torch/src/index.ts
  packages/torch/src/web.ts
  packages/torch/tsconfig.json
Labels: feature

#295 fix(file-picker): no files were returned on Android 10 and below with the Samsung Gallery app
  .changeset/three-wasps-lie.md
  packages/file-picker/android/src/main/java/io/capawesome/capacitorjs/plugins/filepicker/FilePickerPlugin.java
Labels: platform: android, bug/fix, package: file-picker
