Repository capawesome-team/capacitor-plugins, pull requests merged in 2024-11, with the labels that each got.

#328 feat(android-foreground-service): add method for updating foreground service notification
  .changeset/olive-melons-joke.md
  packages/android-foreground-service/README.md
  packages/android-foreground-service/android/src/main/java/io/capawesome/capacitorjs/plugins/foregroundservice/AndroidForegroundService.java
  packages/android-foreground-service/android/src/main/java/io/capawesome/capacitorjs/plugins/foregroundservice/ForegroundService.java
  packages/android-foreground-service/android/src/main/java/io/capawesome/capacitorjs/plugins/foregroundservice/ForegroundServicePlugin.java
  packages/android-foreground-service/src/definitions.ts
Labels: platform: android, feature, package: android-foreground-service

#337 feat(torch): add support for ML Kit Barcode Scanning
  .changeset/hip-emus-attack.md
  packages/torch/README.md
  packages/torch/android/build.gradle
  packages/torch/android/src/main/java/io/capawesome/capacitorjs/plugins/torch/Torch.java
  packages/torch/src/definitions.ts
Labels: platform: android, feature, package: torch

#338 fix(app-review): `openAppStore()` missing `appId` on iOS
  .changeset/serious-rocks-fold.md
  packages/app-review/README.md
  packages/app-review/example/src/js/capacitor-welcome.js
  packages/app-review/ios/Plugin.xcodeproj/project.pbxproj
  packages/app-review/ios/Plugin/AppReview.swift
  packages/app-review/ios/Plugin/AppReviewPlugin.swift
  packages/app-review/ios/Plugin/Classes/Options/OpenAppStoreOptions.swift
  packages/app-review/ios/Plugin/Enums/CustomError.swift
  packages/app-review/src/definitions.ts
Labels: platform: ios, bug/fix, package: app-review

#339 feat(app-update): add `appId` property to `OpenAppStoreOptions`
  .changeset/fair-countries-fetch.md
  packages/app-update/README.md
  packages/app-update/ios/Plugin/AppUpdatePlugin.swift
  packages/app-update/src/definitions.ts
Labels: platform: ios, feature, package: app-update
